name: Build DLL

on:
  push:
    branches: [ main, master ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Restore NuGet Packages
        run: nuget restore StellaSora-Tool.sln

      - name: Build Solution
        run: msbuild StellaSora-Tool.sln /p:Configuration=Release /p:Platform=x64

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: BuildOutput
          path: |
            **/Release/*.dll
            **/Release/*.exe
